<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="{{.Description}} {{ $.Site.Params.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css"> 
        <title> {{ block "title" . }} {{ .Site.Title }} {{ end }} </title>
         <!-- {{ partial "cookie.html" . }} -->
         <link rel="shortcut icon" href="/favicon.ico" /> 
    </head>
    <body>
        {{ block "site-header" . }} {{ end }}
        {{ block "main" . }} {{ end }}
        {{ block "main-list" . }} {{ end }}
        {{ block "main-single" . }} {{ end }}
        {{ block "site-footer" . }} {{ end }}
    </body>
</html>