{{ define "site-header"}}
    {{ partial "header.html" . }}
{{ end }}

{{ define "main-list" }}
<section>
    <h1>
        Listado<br>de categoría
    </h1>
</section>
<main class="list-main">
    {{ range .Pages  }}
        <article class="list-main-subgrid">
            <h2>
                <a href="{{ .RelPermalink }}">{{ .Name }}</a>
            </h2>
            <blockquote>
                {{ .Description }}
            </blockquote>
            {{ .Content | truncate 250 }}
        </article>
    {{ end }}
</main>
{{ end }}

{{ define "site-footer"}}
    {{ partial "footer.html" . }}
{{ end }}